* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

$body-color: rgb(22, 22, 22);
$header-color: rgb(33, 33, 33);
$grey-color: rgb(177, 177, 177);

body {
  background-color: $body-color;
}

.header {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 40px;
  background-color: $header-color;

  .header__left {
    display: flex;
    align-items: center;
    flex: 0.34;
    .burger {
      width: 20px;
      height: 20px;
    }
    .logo {
      height: 50px;
    }
    p {
      font-weight: thin;
      color: white;
      margin-left: -20px;
    }
  }

  .header__mid {
    flex: 0.36;
    display: flex;

    input {
      font-size: 17px;
      padding-left: 10px;
      color: $grey-color;
      flex: 1;
      height: 31px;
      background-color: $body-color;
      border: 1px solid rgb(65, 65, 65);
      outline: none;
    }

    .searchIcon {
      color: rgba(255, 255, 255, 0.493);
      background-color: rgb(65, 65, 65);
      border: 1px solid rgb(65, 65, 65);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 31px;
      .fa-search {
        font-size: 12px;
      }
    }
  }

  .header__right {
    flex: 0.34;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .header__icons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 30%;
      .icon {
        color: white;
        font-size: 20px;
      }

      .avatar {
        width: 35px;
        height: 35px;
        border-radius: 35px;
      }
    }
  }
}

.main {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  color: white;

  .main__left {
    flex: 0.74;

    .main__video {
      height: 720px;
      background-color: cadetblue;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .main__title {
      height: 100px;
      border-bottom: 1px solid rgb(68, 68, 68);

      .main__titleTop {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 50%;

        .tags {
          color: rgb(39, 147, 232);
          font-size: 13px;
        }

        .title {
          font-size: 18px;
        }
      }

      .main__titleBottom {
        display: flex;
        align-items: center;
        height: 50%;
        color: rgb(128, 128, 128);

        .main__views {
          flex: 0.72;
          font-size: 14px;
          color: $grey-color;
        }

        .main__interaction {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex: 0.28;
          height: 100%;
          .main__likeDislike {
            color: $grey-color;
            height: 100%;
            display: flex;
            align-items: center;
            border-bottom: 2px solid rgb(158, 158, 158);
            .likeCount {
              margin-right: 20px;
            }
            p {
              margin: 0 7px;

              font-size: 15px;
            }
          }
          .fa {
            font-size: 23px;
          }

          .main__more {
            color: $grey-color;
            height: 100%;
            display: flex;
            align-items: center;

            p {
              margin-left: 5px;
              font-size: 13px !important;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.channel {
  padding: 20px 0;
  display: flex;
  border-bottom: 1px solid rgb(68, 68, 68);

  .channel__left {
    flex: 0.05;

    .ChannelAvatar {
      width: 48px;
      border-radius: 25px;
    }
  }

  .channel__right {
    flex: 0.95;

    .channel__rightT {
      display: flex;
      height: 51px;

      .channel__rightTL {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 0.8;

        .channel__rightName {
          font-size: 15px;
        }

        .channel__rightSubs {
          font-size: 12px;
          color: $grey-color;
        }
      }
      .channel__rightTR {
        flex: 0.2;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .subscribeButton {
          border-radius: 3px;
          font-size: 14px;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 106px;
          background-color: rgb(229, 39, 45);
          height: 37px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .channel__rightB {
      width: 50%;

      p {
        font-size: 15px;
        padding-top: 20px;
      }

      .showMore {
        color: $grey-color;
      }
    }
  }
}

.channelInput {
  .channelInput__info {
    padding: 20px 0;
    display: flex;
    align-items: center;

    .sortBy {
      color: $grey-color;
      display: flex;
      align-items: center;
      margin-left: 30px;

      p {
        margin-left: 10px;
        font-size: 13px;
      }
    }
  }

  .channelInput__input {
    display: flex;
    padding-bottom: 5px;

    .comment__avatar {
      width: 40px;
      border-radius: 40px;
    }

    input {
      color: white;
      font-size: 15px;
      margin-left: 20px;
      flex: 1;
      background-color: $body-color;
      outline: none;
      border: none;
      border-bottom: 1px solid rgb(48, 48, 48);
    }
  }

  .input__buttons {
    display: flex;
    justify-content: flex-end;
    height: 37px;
    margin-bottom: 20px;

    .cancel__button {
      background-color: $body-color;
      color: grey;
    }

    .comment__button {
      background-color: rgb(96, 96, 96);
      color: $body-color;
    }

    button {
      font-weight: bold;
      height: 100%;
      width: 100px;
      outline: none;
      border: none;
      border-radius: 3px;
    }
  }
}

.allComments {
  .comment {
    display: flex;
    padding-bottom: 20px;
    .comment__left {
      img {
        width: 35px;
        border-radius: 35px;
      }
    }

    .comment__right {
      margin-left: 25px;
      flex: 1;

      .comment__channelName {
        font-size: 14px;
        padding-bottom: 8px;
      }

      .comment__body {
        font-size: 15px;
      }

      span {
        color: $grey-color;
        font-size: 12px;
        margin-left: 5px;
      }
      .comment__interaction {
        color: $grey-color;
        padding: 15px 0;
        display: flex;
        align-items: center;

        .mr {
          margin-right: 10px;
        }

        .comment__likes {
          font-size: 12px;
        }

        .reply {
          font-size: 12px;
          margin-left: 20px;
        }
      }

      .comment__replies {
        font-size: 13px;
        color: rgb(39, 147, 232);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95px;

        .comment__viewReplies {
          font-weight: bold;
        }
      }
    }
  }
}

.main__right {
  flex: 0.25;

  .suggestedVideo {
    position: relative;
    height: 94px;
    display: flex;
    margin-bottom: 10px;
    color: white;
    transition: 300ms;

    .suggestedVideo__left {
      width: 168px;
      background-color: whitesmoke;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .suggestedVideo__right {
      flex: 1;
      padding-left: 10px;

      .suggestedVideo__title {
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 5px;
      }

      .suggestedVideo__name {
        display: flex;
        align-items: center;
        color: $grey-color;
        font-size: 13px;
        padding-bottom: 3px;

        .fa-check {
          font-size: 9px;
          margin-left: 5px;
          border: 1px solid $grey-color;
          border-radius: 10px;
        }
      }
      .suggestedVideo__views {
        color: $grey-color;
        font-size: 13px;
      }
    }
  }
}

button:hover {
  cursor: pointer;
}

.fa:hover {
  cursor: pointer;
}

.suggestedVideo__overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  .play {
    color: rgba(255, 255, 255, 0.877);
    font-size: 30px;
    margin-left: 75px;
    margin-top: 30px;
  }
}

.suggestedVideo__overlay:hover {
  opacity: 1;
  cursor: pointer;
}
